<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý sản phẩm</title>

    <!-- Custom fonts for this template-->
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="admin/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style type="text/css">
        /* Chart.js */
        
        @keyframes chartjs-render-animation {
            from {
                opacity: .99
            }
            to {
                opacity: 1
            }
        }
        
        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }
        
        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }
        
        .chartjs-size-monitor-expand>div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0
        }
        
        .chartjs-size-monitor-shrink>div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0
        }
    </style>
    <link rel="stylesheet" href="admin/css/custom.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="index" asp-controller="home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><i class="fa fa-arrow-left"></i> Quay lại trang chủ</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Giao dịch
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-coins"></i>
                    <span>Đơn hàng của bạn</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="user" asp-action="pending">Đang xử lý</a>
                        <a class="collapse-item" asp-controller="user" asp-action="shiping">Đang giao</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Lịch sử giao dịch</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>


            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Thống kê</span>
                </a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="admin/img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>

            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <div class="d-flex list-group-item list-group-item-action" style="border-radius: 5px;">
                                <div class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">List group item heading</h5>
                                            <small>3 days ago</small>
                                        </div>
                                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                                        <small>And some small print.</small>
                                    </div>
                                </div>
                                <a class="text-danger pt-5" href="#"><i class="fa fa-trash"></i></a>
                            </div>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body" style="height: 60vh; overflow-y: scroll;">
                            <hr>
                            <div class="row m-1 p-1">

                                <div class="col-md-1">
                                    <a href="#"><img src="assets/img/cabacma.jpg" class="w-100" alt="123"></a>
                                </div>
                                <div class="col-md-10 d-flex justify-content-between">
                                    <div>
                                        <h5 class="m-0">@e.MaSP.Title</h5>
                                        <p class="m-0">@e.MaSP.Ten</p>
                                        <p class="m-0">Số lượng mua x @e.Sl</p>
                                    </div>
                                    <h5 class="center-vertical">@e.MaSP.Gia.ToString("0,0") đ</h5>
                                </div>
                                <div class="col-md-1 d-flex justify-content-between mt-5">
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-edit text-info"></i></a>
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-trash text-danger"></i></a>
                                </div>
                            </div>
                            <hr class="divider">
                            <div class="row m-1 p-1">
                                <div class="col-md-1">
                                    <a href="#"><img src="assets/img/cabacma.jpg" class="w-100" alt="123"></a>
                                </div>
                                <div class="col-md-10 d-flex justify-content-between">
                                    <div>
                                        <h5 class="m-0">@e.MaSP.Title</h5>
                                        <p class="m-0">@e.MaSP.Ten</p>
                                        <p class="m-0">Số lượng mua x @e.Sl</p>
                                    </div>
                                    <h5 class="center-vertical">@e.MaSP.Gia.ToString("0,0") đ</h5>
                                </div>
                                <div class="col-md-1 d-flex justify-content-between mt-5">
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-edit text-info"></i></a>
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-trash text-danger"></i></a>
                                </div>
                            </div>
                            <hr class="divider">
                            <div class="row m-1 p-1">
                                <div class="col-md-1">
                                    <a href="#"><img src="assets/img/cabacma.jpg" class="w-100" alt="123"></a>
                                </div>
                                <div class="col-md-10 d-flex justify-content-between">
                                    <div>
                                        <h5 class="m-0">@e.MaSP.Title</h5>
                                        <p class="m-0">@e.MaSP.Ten</p>
                                        <p class="m-0">Số lượng mua x @e.Sl</p>
                                    </div>
                                    <h5 class="center-vertical">@e.MaSP.Gia.ToString("0,0") đ</h5>
                                </div>
                                <div class="col-md-1 d-flex justify-content-between mt-5">
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-edit text-info"></i></a>
                                    <a href="#" onclick="delProd('@e.MaSP.MaSp')"><i class="fa fa-trash text-danger"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading1">
                        <h2 class="mb-0">
                            <div class="d-flex list-group-item list-group-item-action" style="border-radius: 5px;">
                                <div class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    <div>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">List group item heading</h5>
                                            <small>3 days ago</small>
                                        </div>
                                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                                        <small>And some small print.</small>
                                    </div>
                                </div>
                                <a class="text-danger pt-5" href="#"><i class="fa fa-trash"></i></a>
                            </div>
                        </h2>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                        <div class="card-body">
                            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="admin/vendor/jquery/jquery.min.js"></script>
    <script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="/admin/js/demo/datatables-demo.js"></script>


</body>

</html>